#tb_asistencia {
	margin-top: 1em;
	/*font-size: 8pt;*/
}

#initRow {
	margin-top: 4em;
}

.bordesRegistro {
	border-color: black;
	border-style: solid;
	border-radius: 10px;
	border-width: 1px;
	margin-right: 0;
	margin-left: 0;
	"
}